<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Sales</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first %></td>
        <td><%= employee.last %></td>
        <td><%= employee.email %></td>
        <% @sales.each do |employee| %>
        <td><%= employee.sales %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
